.btn {
    display: block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;

    padding: 0 20px;
    border-radius: 3px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    cursor: pointer;
}

.btn-primary {
    background: #00a0ff;
}

.btn-primary:hover {
    background: #0070b3;
}

.btn-primary:active {
    background: #005080;
}

.btn-danger {
    background: #ff214e;
}

.btn-danger:hover {
    background: #d4002b;
}

.btn-danger:active {
    background: #a10021;
}